
<%- include("partials/header"); -%>
<h1>About</h1>
<div class="nolan">
  <h2> Hey, I'm Nolan!</h2>
  <img class="nolan-pic" src="oscardance.gif" alt="nolan">
  <p> So this is where i talk about my self lorem ipsum latin latinlatintialalititillatin</p>
</div>

<div class="stephane">
  <h2> Hey, I'm Stephane!</h2>
  <img class="stephane-pic" src="michaeldance.gif" alt="stephane">
  <p> So this is where i talk about my self lorem ipsum latinlatintialalititillatin</p>
</div>

<div class="ruchi">
  <h2> Hey, I'm Ruchi!</h2>
  <img class="ruchi-pic" src="dwightdance.gif" alt="ruchi">
  <p> So this is where i talk about my self lorem ipsum latinlatintialalititillatin</p>
</div>

<p> <%= aboutContent %> </p>

<%- include("partials/footer"); -%>
